@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans+Condensed:300&display=swap');

/* DARK GRAY color: rgb(116, 116, 116); */
/* LIGHT GRAY color: rgb(116, 116, 116); */

*,
*:before,
*:after {
	box-sizing: border-box;
    font-family: Karla, Helvetica, sans-serif;
    color: rgb(116, 116, 116);
}

.title {
    font-family: "Open Sans", Helvetica, sans-serif;
}

body {
    /*background: url("../images/background.png");*/
    background-color: rgb(77, 187, 178, 0.5);
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(250, 248, 248);
    margin: 20px;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

section {
    background: rgb(250, 248, 248);
    border-radius: 10px;  
    padding: 5px 20px;
    margin: 20px;
}

.headshot {
    width: 150px;
    border: 3px solid rgb(116, 116, 116);
    border-radius: 50%;
    margin: 10px;
}

.intro-section {
    padding-top: 20px;
}

.name {
    color: rgb(102, 102, 102);
    font-weight: 700;
    margin-bottom: 0;
}

.job-title {
    margin: 10px auto;
}

.social-media-icons {
    padding: 10px;
}

.social-media-icon {
    padding: 10px;
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.location-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.location {
    display: inline;
    padding-left: 1vh;
}

ul {
    list-style: circle;
}

/* SKILLS */
.skillset {
    padding-bottom: 30px;
}

.skill-progress {
    background: rgb(214, 119, 218);
    border-radius: 15px;
    width: 98%;
    height: 20px;
}

/* PORTFOLIO PROJECTS */

.portfolio-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-screenshot {
    width: 90%;
    height: 90%;
}

/* WORK EXPERIENCE */
/* EDUCATION */

.work-title,
.education-title {
    font-size: 1.25em;
    font-weight: 700;
    padding-right: 5px;
    color: rgb(102, 102, 102);
}

/* TESTIMONIALS */  
blockquote {
    background: #f9f9f9;
    border-left: 10px solid rgb(214, 119, 218);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: rgb(214, 119, 218);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

