@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans+Condensed:300&display=swap');

:root {
    --main-bg-colour: rgb(77, 187, 178, 0.5);
    --main-section-bg-colour: rgb(250, 248, 248); 
    --main-accent-colour: rgb(214, 119, 218);  
    --main-title-colour: rgb(97, 97, 97); 
    --main-text-colour: rgb(116, 116, 116); 
  }

*,
*:before,
*:after {
	box-sizing: border-box;
    font-family: Karla, Helvetica, sans-serif;
    color: var(--main-text-colour);
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--main-bg-colour);
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    background: var(--main-section-bg-colour);
    border-radius: 10px;  
    padding: 5px 20px;
    margin: 20px;
    font-size: 20px;
}

.title {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: var(--main-title-colour);
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    background: var(--main-section-bg-colour);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headshot {
    width: 150px;
    border: 3px solid var(--main-title-colour);
    border-radius: 50%;
    margin: 20px 40px;
}

.name {
    color: var(--main-title-colour);
    font-weight: 700;
    margin-bottom: 0;
}

.job-title {
    margin: 10px auto;
}

.social-media-icons {
    padding: 10px;
}

.social-media-icon {
    padding: 10px;
}

.location-container {
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.location {
    display: inline;
    padding-left: 1vh;
}

/* INTRO */
.introduction {
}

.intro-section {
    padding-top: 20px;
}

ul {
    list-style: circle;
}

/* SKILLS */
.skillset {
    padding-bottom: 30px;
}

.skill {
    margin-bottom: 5vh;
}

.skill-title {
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
}
  
.progress-bar {
    width: 10%;
    height: 2vh;
    border-radius: 20px;
    background-color: var(--main-accent-colour);
    text-align: center;
    line-height: 30px;
    color: white;
}

/* PORTFOLIO PROJECTS */

.portfolio-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-screenshot {
    width: 90%;
    height: 90%;
}

.project-links > a {
    color: var(--main-accent-colour);
}

/* WORK EXPERIENCE */
/* EDUCATION */

.work-title,
.education-title {
    font-size: 1.25em;
    font-weight: 700;
    padding-right: 5px;
    color: rgb(102, 102, 102);
}

/* TESTIMONIALS */  
blockquote {
    background: #f9f9f9;
    border-left: 10px solid var(--main-accent-colour);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}

blockquote:before,
blockquote:after {
    color: var(--main-accent-colour);
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

@media only screen and (min-width: 700px) {

    /* LAYOUT */

    .first-column {
        width: 65vw;
    }

    .second-column {
        width: 35vw;
    }

    main {
        flex-direction: row;
    }

    


    /* OTHER */

    header {
        width: 100vw;
        margin: 0;
        padding: 0;
        border-radius: 0;
        flex-direction: row;
        justify-content: flex-start;
    }

    .headshot {
        margin: 30px 6vw;
    }

    .main-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .location-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .location {
        justify-self: center;
        align-self: center;
    }

    .social-media-icons {
        display: flex;
        flex-direction: column;
        align-items: space-around;    
        display: relative;
        right: 10px;    
    }

    .social-media-icon {
        padding: 0;
    }
}